{% extends "base.html" %}

{% block content %}

<h1> {{ article.Metadata.title }} </h1>

<div class="panel">
    <div class="panel-body">
        <footer class="post-info">
            <span class="label label-default">Date</span>
            <span class="published">
                <i class="icon-calendar"></i>{{ article.Metadata.date }}
            </span>
            <p></p>
            {% for tag in article.Metadata.tags %}
                {{ tag }}
            {% endfor %}
        </footer>
    </div>
</div>

{% endblock %}
