{% extends "base.html" %}

{% block head %}
<script src="http://intgraph.qiniudn.com/static/buckets-minified.js"></script>
<script src="http://intgraph.qiniudn.com/static/angular.min.js"></script>
<script src="http://7xi3l2.com1.z0.glb.clouddn.com/moment.js"></script>
<style>.progress { margin-bottom: 0px; }</style>
<script>
var IgApp = angular.module('IgApp', [], function($interpolateProvider) {
    $interpolateProvider.startSymbol('{$');
    $interpolateProvider.endSymbol('$}');
});

var uniqueItems = function (data, key) {
    var result = new buckets.Set()
    for (var i = 0; i < data.length; i++) {
        var tags = data[i][key];
        for (var idx in tags) {
            result.add(tags[idx]);
        }
    }
    return result.toArray();
};

function IgCtrl($scope, filterFilter) {
    {% for key, value in tags.items() %}
    $scope.use_{{ key }} = {};
    {% endfor %}
    $scope.due_date_today   = true;
    $scope.due_date_in3days = false;
    $scope.due_date_in7days = false;
    $scope.due_date_further = false;
    $scope.due_date_done    = false;
    $scope.due_date_all     = false;

    $scope.articles = [
        {% for article in view.content %}
        {{ article|to_article_json|safe }},
        {% endfor %}
    ];
    
    for (var i = 0; i < $scope.articles.length; i++) {
        var t, diff = 0;
        console.log(typeof $scope.articles[i]["nexttime"]);
        if (typeof $scope.articles[i]["nexttime"] === undefined) {
            t = $scope.articles[i].date;
        } else {
            if ($scope.articles[i]["nexttime"].length == 0) {
                $scope.articles[i].done = true;
            }
            t = $scope.articles[i]["nexttime"];
        }
        
        diff = moment().startOf('day').diff(moment(t), 'days');
        $scope.articles[i].delay = diff;
        
        if ($scope.articles[i].done) {
            $scope.articles[i].delay = -0xdeadbeaf;
        }
    }

    $scope.$watch(function () {
        return {
            articles: $scope.articles,
            {% for key, value in tags.items() %}
            use_{{ key }}: $scope.use_{{ key }},
            {% endfor %}
            due_date_today   : $scope.due_date_today   ,
            due_date_in3days : $scope.due_date_in3days ,
            due_date_in7days : $scope.due_date_in7days ,
            due_date_further : $scope.due_date_further ,
            due_date_done    : $scope.due_date_done    ,
            due_date_all     : $scope.due_date_all    ,
        }
    }, function (value) {
        var selected;
        $scope.count = function (prop, value) {
            return function (el) {
                return el[prop] == value;
            };
        };
        var filterAfterAll = $scope.articles;
        var filterAfterThis = [];
        {% for key, value in tags.items() %}
        console.log(filterAfterAll);
        $scope.{{ key }}Group = uniqueItems($scope.articles, '{{ key }}');
        selected = false;
        filterAfterThis = [];
        for (var j in filterAfterAll) {
            var p = filterAfterAll[j];
            for (var i in $scope.use_{{ key }}) {
                if ($scope.use_{{ key }}[i]) {
                    selected = true;
                    if (p.{{ key }}.indexOf(i) != -1) {
                        filterAfterThis.push(p);
                        break;
                    }
                }
            }
        }
        console.log("{{ key }}", filterAfterThis, filterAfterAll, selected);
        if (!selected) {
            filterAfterThis = filterAfterAll;
            $scope.filteredArticles = filterAfterThis;
        }
        filterAfterAll = filterAfterThis;
        {% endfor %}
        filterAfterThis = [];
        for (var j in filterAfterAll) {
            var p = filterAfterAll[j];
            if ($scope.due_date_today && p.delay >= 0) {
                filterAfterThis.push(p);
            } else if ($scope.due_date_in3days && p.delay >= -3 && p.delay < 0) {
                filterAfterThis.push(p);
            } else if ($scope.due_date_in7days && p.delay >= -7 && p.delay < -3) {
                filterAfterThis.push(p);
            } else if ($scope.due_date_further && !p.done && p.delay < -7) {
                filterAfterThis.push(p);
            } else if ($scope.due_date_done && p.done) {
                filterAfterThis.push(p); 
            } else if ($scope.due_date_all) {
                filterAfterThis.push(p); 
            }
        }
        filterAfterAll = filterAfterThis;
        
        $scope.filteredArticles = filterAfterAll;
        
    }, true);

    $scope.$watch('filtered', function (newValue) {
        if (angular.isArray(newValue)) {
            console.log(newValue.length);
        }
    }, true);
}

IgApp.filter('groupBy',
    function () {
        return function (collection, key) {
            if (collection === null) return;
            return uniqueItems(collection, key);
        };
    }
);

</script>
{% endblock %}

{% block content %}
<div ng-controller="IgCtrl">
    <h1>{{ view.title }}</h1>
    <br/>
    <div class="row">
        <div class="col-md-10">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-md-1">#</th>
                        <th class="col-md-5">Task</th>
                        <th class="col-md-2">Start time</th>
                        <th class="col-md-2">Process</th>
                        <th class="col-md-2">Status</th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="article in filteredArticles | filter:query | orderBy:'-delay'">
                    <td> {$ $index + 1 $} </td>
                    <td> <a href="{$ article.url $}"> {$ article.title $} </a></td>
                    <td> {$ article.date $} </td>
                    <td> 
                        <div ng-if="article.done" class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped active" style="width: {$ article.process $}"></div>
                        </div>
                        <div ng-if="!article.done" class="progress">
                            <div class="progress-bar progress-bar-striped active" style="width: {$ article.process $}"></div>
                        </div>
                    </td>
                    <td ng-if="!article.done && article.delay > 0"> 
                        <font color="red"> Delayed for {$ article.delay $} day(s)</font>
                    </td>
                    <td ng-if="!article.done && article.delay == 0">
                        Do it today, buddy.
                    </td>
                    <td ng-if="!article.done && article.delay < 0">
                        Coming in {$ -article.delay $} day(s)
                    </td>
                    <td ng-if="article.done">
                        <span class="label label-success">Done</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    
        <div class="col-md-2">
            <h2> Filters </h2>
            <br/>
            <div class="form-group">
                <label class="sr-only" for="igsearch">Search</label>
                <input type="text" class="form-control" id="igsearch" placeholder="Search" ng-model="query.title">
            </div>
            <h3>
                <span class="label label-info">Due Date</span>
            </h3>
            <p></p>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="due_date_today" checked="checked" /> Today
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="due_date_in3days" /> In 3 days
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="due_date_in7days"/> In a week
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="due_date_further"/> Further
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="due_date_done"/> Done
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="due_date_all"/> All
                </label>
            </div>
            {% for key, value in tags.items() %}
            <h3>
            <span class="label label-info">{{ key }}</span>
            </h3>
                <p></p>
                <div class="checkbox" ng-repeat="{{ key }} in {{ key }}Group | orderBy:'toString()'">
                    <label>
                        <input type="checkbox" ng-model="use_{{ key }}[{{ key }}]"/>
                        {$ {{ key }} $}
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}


